.main {
  --edge-size: 10px;

  transition: all ease-in-out .5s;
  background-color: var(--bg-color);
  width: 100%;
}

.title-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  padding-right: var(--edge-size);
  cursor: pointer;
}
